@font-face {
    font-family: SourceCodePro-VariableFont_wght; 
    src: url('SourceCodePro-VariableFont_wght') format("TrueType");
    font-style: normal;
}

body {
    font-family: SourceCodePro-VariableFont_wght;
    src: url('SourceCodePro-VariableFont_wght.ttf') format("TrueType");
    font-style: normal;
    background-color: black;
    background-image:url('../images/squared-metal.png');
    background-repeat: repeat;
}


h6 {
    text-align: center;
    color: rgb(233, 199, 112);
}

h1 {
    text-align: center;
    color: rgb(233, 199, 112);
}

h2 {
    color:rgb(233, 199, 112);
}

p { 
    text-align: left;
    color: rgb(233, 199, 112);
}


#nav {
    position: absolute;
    top: 3;
    left: 0;
    padding-top:12px;
    padding-left:5px;
  }

ul {
    margin: 0;
    padding: 0;
    color: rgb(233, 199, 112);
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


header {
    display: block;
}


.navbar {

    li a { 
     color:darkgoldenrod;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    }

    ul li {
    float: right;
    }

    ul li a {
    display: block;
    color: rgb(233, 199, 112);
    text-align: center;
    padding: 50px 20px;
    text-decoration: none;
    }

}


 .audio {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 130px;
}

#left-column {
    float:left;
    max-width: 250px;
    padding-top: 20px;
}
.todo-box {
    display: block;
    overflow-y: scroll;
    max-height: 250px;
    background-color: black;
    border: solid;
    border-style: ridge;
    border-color: silver;
    padding-bottom: 20px;

    ul li {
        list-style-type: square;
        padding: 5px;
        list-style: circle;
    }
}

.devlogbox {
    display: block;
    overflow-y: scroll;
    max-height: 330px;
    background-color: black;
    border: solid;
    border-style: ridge;
    border-color: silver;

    ul li {
        list-style-type: square;
        padding: 15px;
        list-style: circle;
        border: solid;
        border-radius: 30px;
    }
}

.status {
    font-family: SourceCodePro-VariableFont_wght;
    src: url('SourceCodePro-VariableFont_wght.ttf') format("TrueType");
    font-style: normal;
    position: absolute;
    top: 100%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100%;
    margin-top: 150px;


    li {
        display: inline-block;
        list-style-position: outside;
        border: 2px;
        border-style: ridge;
        border-color: white;
        padding: 10px;
        background-color: black;
        text-align: justify;
    }

    li a {
        color:silver;
    }

}

.navbar {

    li a { 
     color:darkgoldenrod;
    }
    
    ul li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    }

    ul li a {
    display: block;
    color: rgb(233, 199, 112);
    text-align: center;
    padding: 50px 20px;
    text-decoration: none;
    }

}

