html {
    box-sizing: border-box;
}

@font-face {
    font-family: SourceCodePro-VariableFont_wght; 
    src: url('SourceCodePro-VariableFont_wght') format("TrueType");
    font-style: normal;
}
body {
    font-family: SourceCodePro-VariableFont_wght;
    src: url('SourceCodePro-VariableFont_wght.ttf') format("TrueType");
    font-style: normal;
    background-color:black;
    background-image: url("/images/num.gif");
    background-repeat: repeat;
}
h6 {
    text-align: center;
    color: rgb(233, 199, 112);
}
h1 {
    text-align: center;
    color: rgb(233, 199, 112);
}
h2 {
    color:grey;
    text-align: center;
}
h4 {
    color:rgb(233, 199, 112);
    text-align: center;
}
p { 
    text-align: left;
    color: rgb(233, 199, 112);
}

ul {
    margin: 0;
    padding: 0;
    color: rgb(233, 199, 112);
}
ul li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-wrapper{
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1404px;
    width:100%;
    
    
    li a { 
     color:darkgoldenrod;
    }
    ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    }

    ul li a {
    text-align: right;
    padding: 50px 20px;
    text-decoration: none;
    }
}

.navbar-logo-wrapper {
    flex: 1;
}
.navbar-logo-wrapper img {
    align-items: left;
    height: auto; 
}

.navbar-links {
    margin:auto;
}
.navbar-links li {
    float:right;
}

.wrapper {
    box-sizing: border-box;
    flex-direction: column;
    align-content:start;
    margin: 0 auto; 
    display:flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow:1;
    max-height:1920px;
    max-width:1404px;

}
.aside1 {
    max-width: 250px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-style:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;
    ul li {
        padding: 5px;
        color:darkgoldenrod;
        margin:20px;
        list-style: none;
    }
}
.aside2 {
    max-width: 250px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;
    ul li {
        padding: 15px;
        border: solid;
        border-radius: 30px;
        padding-left: 5px;
        color:darkgoldenrod;
        margin: 20px;
        list-style: none;
    }
}
.aside1 img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border:double;
    border-width: 5px;
    border-color:grey;
}

.aside2 img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border:double;
    border-color:grey;
}
.middle{
    overflow-x: hidden;
    overflow-y: scroll;
    max-width:875px;
    max-height:450px;
    border: double;
    border-width: 5px;
    border-color:grey;
    background-color: black;


    ul li {
        margin-top: 20px;
        list-style-type: none;
        padding: 15px;
        color:darkgoldenrod;
    }
}
.pfpwrapper {
    height: 150px;
    width:175px;
}

.pfpwrapper img {
   width: 100%; 
   height: 100%;
   object-fit: cover;
}
.break1 {
    flex-basis: 100%;
    height:0;
}
.break2 {
    width: 100px;
    height:100px;
}
.aside3{
    max-width: 250px;
    max-height: 400px;
    overflow-y: scroll;
    border:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;
}
.traveler {
    width:875px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-style: double;
    border-color:grey;
    border-width: 5px;
    background-color: #09090B;
}

.traveler img {
    max-width: 100%;
}
.status {
  width:875px;
  height:190px;
  padding-left:195px;
  position: sticky;
  top: 0;
  background-color:black;
  border: double;
  border-color:grey;
  border-width: 5px;
}

.travelerimg {
  border:solid;
  border-color:grey;
  border-width: 5px;
  width:875px;
  height:205px;
  padding-left:230px;
  position: sticky;
  top: 0;
  background-color: black;
}
#sf {
    width: 200px;
    padding-bottom: 50px;
}
.ethos {
    background-color:black;
    width:875px;
    border: solid;
    border-color:grey;
    border-width: 5px;
    background-color: #09090B;

    p {
        margin:40px;
        color: darkgoldenrod;
    }

    h4 {
        margin: 25px;
        color: darkred;
    }
    
}
.ethos img {
  padding-left:250px;
}

.current1 {

    max-width: 250px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-style:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;
    ul li {
        padding: 5px;
        color:darkgoldenrod;
        margin:20px;
        list-style: none;
    }
}

.current1 img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border:double;
    border-width: 5px;
    border-color:grey;
}

.current2 {
    max-width: 250px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;
    ul li {
        padding: 5px;
        color:darkgoldenrod;
        margin:20px;
        list-style: none;
    }
}

.current2 img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border:double;
    border-width: 5px;
    border-color:grey;
}
.music {
 max-width: 250px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;

    h4{
        color: darkgoldenrod;
    }

    h1 {
        color: darkgoldenrod;
    }
}

.music img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border:double;
    border-width: 5px;
    border-color:grey;
}

.friendbox {
    max-width: 250px;
    height: 215px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;

        ul li {
        padding: 5px;
        margin: 20px;
        list-style: none;
    }

    li a {
         color:green;
    }
}

.friendbox img {
    width: 240px;
    height: 100px;
    border:double;
    border-width: 5px;
    border-color:grey;
    padding-left: 5px;
}

.contact {
    max-width: 250px;
    height: 215px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;

      h4{
        color: darkgoldenrod;
    }
}

.contact img {
    width: 240px;
    height: 100px;
    border:double;
    border-width: 5px;
    border-color:grey;
    padding-left: 5px;
}

.guestbook {
 max-width: 250px;
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:double;
    border-width: 5px;
    border-color:grey;
    background-color: #09090B;

    h4{
        color: darkgoldenrod;
    }

    h1 {
        color: darkgoldenrod;
    }
}

.guestbook img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border:double;
    border-width: 5px;
    border-color:grey;
}

footer {
    max-width: 1404px;
    width:100%;
    margin: 0 auto;
    display:flex;
}
