@font-face {
    font-family: SourceCodePro-VariableFont_wght; 
    src: url('SourceCodePro-VariableFont_wght') format("TrueType");
    font-style: normal;
}
body {
    font-family: SourceCodePro-VariableFont_wght;
    src: url('SourceCodePro-VariableFont_wght.ttf') format("TrueType");
    font-style: normal;
    background-color:black;
    background-image: url("/images/num.gif");
    background-repeat: repeat;
}
h6 {
    text-align: center;
    color: rgb(233, 199, 112);
}
h1 {
    text-align: center;
    color: rgb(233, 199, 112);
}
h2 {
    color:grey;
    text-align: center;
}
h4 {
    color:rgb(233, 199, 112);
    text-align: center;
}
p { 
    text-align: left;
    color: rgb(233, 199, 112);
}

ul {
    margin: 0;
    padding: 0;
    color: rgb(233, 199, 112);
}
ul li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1850px;
    
    
    li a { 
     color:darkgoldenrod;
    }
    ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color:#09090B;
    }

    ul li a {
    text-align: center;
    padding: 50px 20px;
    text-decoration: none;
    }
}

.navbar-logo-wrapper {
    flex: 1;
}
.navbar-logo-wrapper img {
    align-items: left;
    height: auto; 
}

.navbar-links {
    margin:auto;
}
.navbar-links li {
    float:right;
}

.wrapper {
    flex-direction: column;
    align-content:start;
    display:flex;
    flex-wrap: wrap;
    padding-left: 250px;
    padding-top: 100px;
    border: solid;
    border-color: yellow;
    height:1500px;
    width:1600px;
}
.aside1 {
    margin-top: 50px;
    max-width: 250px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-style:ridge;
    border-color:grey;
    ul li {
        padding: 5px;
        color:darkgoldenrod;
    }
}
.aside2 {
    max-width: 250px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:solid;
    border-color:grey;
    ul li {
        padding: 15px;
        border: solid;
        border-radius: 30px;
        padding-left: 5px;
        color:darkgoldenrod;
    }
}
.aside1 img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border:solid;
    border-color:grey;
}

.aside2 img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border:solid;
    border-color:grey;
}
.middle{

    overflow-y: scroll;
    margin-top: 50px;
    width:875px;
    height:400px;
    border: solid;
    border-color:grey;
    background-color: black;

    ul li {
        list-style-type: none;
        padding: 15px;
        color:darkgoldenrod;
    }
}
.pfpwrapper {
    height: 150px;
    width:175px;
}

.pfpwrapper img {
   width: 100%; 
   height: 100%;
   object-fit: cover;
}
.break1 {
    flex-basis: 100%;
    height:0;
}
.break2 {
    width: 100px;
    height:100px;
}
.aside3{
    max-width: 250px;
    max-height: 400px;
    overflow-y: scroll;
    border:solid;
   border-color:grey;
}
.traveler {
    width:875px;
    height: 500px;
    overflow-y: scroll;
    border:solid;
    border-style: ridge;
    border-color:grey;
}

.traveler img {
    max-width: 100%;
}
.status {
  width:875px;
  height:150px;
  padding-left:195px;
position: sticky;
    top: 0;
    border:solid;
    border-color:grey;
}


.friendbox {
    width:250px;
    max-height: 400px;
    overflow-y: scroll;
    border:ridge;
   border-color:grey;

    li a {
        color: red;
    }
}
.travelerimg {
  width:875px;
  height:150px;
  padding-left:150px;
  padding-bottom:20px;
}
#sf {
    width: 200px;
    padding-bottom: 50px;
}