/* header styling */
header {
    margin-top: 100px;
    text-align: center;
    width: fit-content;
}
/* font */
@font-face {
    font-family: Adventurer;
    src: url('Adventurer.ttf') format("TrueType");
    font-style: normal;
}

/* body styling */
body {
    background-color: black;
    background-image:url('../images/metal014.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: 0;
}

/* h styling */
h6 {
    text-align: center;
    color: rgb(233, 199, 112);
}

h4 {
    text-align: center;
    color: rgb(233, 199, 112);
}

/* p styling */
p { 
    text-align: left;
    color: rgb(233, 199, 112);
}

/*img styling */
img {
    display: block;
    margin: 0 auto;
    width: 75%; /* Optional: set a specific width */
}

/* ul styling */
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

li a {
    color:darkgoldenrod
}

/* centering webpage */

.home {
  font-family: Adventurer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 100%;
  margin-top: 100px;
}