@font-face {
    font-family: SourceCodePro-VariableFont_wght; 
    src: url('SourceCodePro-VariableFont_wght') format("TrueType");
    font-style: normal;
}
body {
    font-family: SourceCodePro-VariableFont_wght;
    src: url('SourceCodePro-VariableFont_wght.ttf') format("TrueType");
    font-style: normal;
    background-color: black;
    background-image:url('../images/num.gif');
    background-repeat: repeat;
}
h6 {
    text-align: center;
    color: rgb(233, 199, 112);
}
h1 {
    text-align: center;
    color: rgb(233, 199, 112);
}
h2 {
    color:rgb(233, 199, 112);
}
h4 {
    color:rgb(233, 199, 112);
}
p { 
    text-align: left;
    color: rgb(233, 199, 112);
}
#nav {
    position: absolute;
    top: 3;
    left: 0;
    padding-top:12px;
    padding-left:5px;
  }
ul {
    margin: 0;
    padding: 0;
    color: rgb(233, 199, 112);
}
ul li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar {
    li a { 
     color:darkgoldenrod;
    }
    ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color:black;
    }
    ul li {
    float: right;
    }
    ul li a {
    display: block;
    color: rgb(233, 199, 112);
    text-align: center;
    padding: 50px 20px;
    text-decoration: none;
    }
}
#left-column {
    float:left;
    max-width: 250px;
    padding-top: 20px;
    padding-left: 250px;
}
.todo-box {
    display:block;
    overflow-y: scroll;
    max-height: 250px;
    background-color: black;
    border: solid;
    border-style: ridge;
    border-color: silver;
    padding-bottom: 20px;

    ul li {
        list-style-type: square;
        padding: 5px;
        list-style: circle;
    }
}
.devlogbox {
    display:block;
    overflow-y: scroll;
    max-height: 366px;
    background-color: black;
    border: solid;
    border-style: ridge;
    border-color: silver;

    ul li {
        list-style-type: square;
        padding: 15px;
        list-style: circle;
        border: solid;
        border-radius: 30px;
    }
}
#middle-shit {
    float:left;
    max-width: 860px;
    padding-top: 20px;
}
.status-box {
    display:block;
    overflow-y:scroll;
    max-height:150px;
    border:solid;
    border-style: ridge;
    border-color: silver;
    background-color: black;

    ul li {
        list-style-type: none;
        padding: 15px;
    }
}

.traveler {
    display:block;
    overflow-y: scroll;
    border:solid;
    border-style: ridge;
    border-color: silver;
    background-color: black;
}
img {
    max-width: 100%;
}
#pfp {
    border: solid;
    border-color:silver;
}
#right-column {
    float:left;
    max-width: 250px;
    padding-right: 250px;
    padding-top: 20px;
}
.current1 {
    display: block;
    overflow-y: scroll;
    max-height:250px;
    background-color: black;
    border: solid;
    border-style: ridge;
    border-color: silver;
    padding-bottom: 20px;

    ul li {
        list-style-type: square;
        padding: 5px;
        list-style: circle;
    }
}
.current2 {
    display: block;
    overflow-y: scroll;
    max-height:250px;
    background-color: black;
    border: solid;
    border-style: ridge;
    border-color: silver;
    padding-bottom: 20px;

    ul li {
        list-style-type: square;
        padding: 5px;
        list-style: circle;
    }
}
.friends {
    display: block;
    overflow-y: scroll;
    max-height:250px;
    background-color: black;
    border: solid;
    border-style: ridge;
    border-color: silver;
    padding-bottom: 20px;
    
    li a {
        color: snow;
    }
}

