
/* font */
@font-face {
    font-family: SourceCodePro-VariableFont_wght;
    src: url('SourceCodePro-VariableFont_wght') format("TrueType");
    font-style: normal;
}

/* body styling */
body {
    background-color: black;
    background-image:url('../images/squared-metal.png');
    background-repeat: repeat;
    z-index: 0;
}

/* h styling */
h6 {
    text-align: center;
    color: rgb(233, 199, 112);
}

h1 {
    text-align: center;
    color: rgb(233, 199, 112);
}

/* p styling */
p { 
    text-align: left;
    color: rgb(233, 199, 112);
}

/*img styling */
img {
    position: absolute;
    top: 3;
    left: 0;
    padding-top:12px;
    padding-left:5px;
  }

/* ul styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(233, 199, 112);
 }

ul li {
  float: right;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* centering webpage */


 .audio {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 130px;
}

.status {
    background-color: black;
    font-family: SourceCodePro-VariableFont_wght;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 100%;
    margin-top: 150px;
    border: 3px;
    border-style: ridge;

    li {
        border-style: ridge;
        border-color: white;
        padding: 10px;
        text-align: left;
    }

    li a {
        color:silver;
        text-align: left;
    }
}

.navbar {

    li a { 
     color:darkgoldenrod;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    }

    ul li {
    float: right;
    }

    ul li a {
    display: block;
    color: rgb(233, 199, 112);
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    }

}

