html {
    font-family: Retro Gaming;
    src: url("Retro Gaming.ttf") format("TrueType");
    font-style: normal;
}

@font-face {
    font-family: Retro Gaming;
    src: url("Retro Gaming.ttf") format("TrueType");
    font-style: normal;
}
body {
    background-color: black;
    background-image: url("/images/num.gif");
    background-repeat: repeat;
}
h6 {
    text-align: center;
    color: rgb(233, 199, 112);
}
h1 {
    text-align: center;
    color: rgb(233, 199, 112);
}

h2 {
    color: grey;
    text-align: center;
}
h4 {
    color: rgb(233, 199, 112);
    text-align: center;
}
p {
    text-align: left;
    color: rgb(233, 199, 112);
}

ul {
    margin: 0;
    padding: 0;
    color: rgb(233, 199, 112);
}
ul li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1404px;
    transform: scale(0.74);

    li a {
        color: darkgoldenrod;
    }
    ul {
        list-style-type: none;
        margin: auto;
        padding: 0;
        overflow: hidden;
    }

    ul li a {
        text-align: right;
        padding: 50px 20px;
        text-decoration: none;
    }
}

.navbar-logo-wrapper {
    flex: 1;
}
.navbar-logo-wrapper img {
    align-items: left;
    height: auto;
    max-width: 100%;
}

.navbar-links {
    margin: auto;
    float: right;
}
.navbar-links li {
    float: right;
}

.wrapper {
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-height: 1920px;
    max-width: 1404px;
    transform: scale(0.74);
    transform-origin: top;
}
.wrapper-shelf {
    flex-direction: column;
    margin: 0 auto;
    align-content: start;
    display: flex;
    flex-wrap: wrap;
    max-height: 1920px;
    max-width: 1404px;
    transform: scale(0.74);
    transform-origin: top;
}
.left-column {
    max-width: 250px;
    height: 1620px;
    border: solid yellow;
}

.targets {
    max-width: 250px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-style: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;
    ul li {
        padding: 5px;
        color: darkgoldenrod;
        margin: 20px;
        list-style: none;
    }
}
.devlog {
    max-width: 250px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;
    font-size: 14px;
    ul li {
        padding: 15px;
        border: solid;
        border-radius: 30px;
        padding-left: 5px;
        color: darkgoldenrod;
        margin: 20px;
        list-style: none;
    }
}
.targets img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border: double;
    border-width: 5px;
    border-color: grey;
}

.devlog img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border: double;
    border-color: grey;
}
.middle {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 875px;
    max-height: 450px;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: black;

    ul li {
        margin-top: 20px;
        list-style-type: none;
        padding: 15px;
        color: darkgoldenrod;
    }
}

.middle-shelf {
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1404px;
    height: 1000px;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: black;

    p {
        margin: 20px;
    }

    ul li {
        list-style-type: none;
        padding: 10px;
        color: darkgoldenrod;
    }

    li a {
        color: green;
    }

    h1 {
        text-align: left;
        color: darkgoldenrod;
    }
    h2 {
        text-align: left;
    }
}

.break1 {
    flex-basis: 100%;
    height: 0;
}
.break2 {
    width: 100px;
    height: 100px;
}
.break2-shelf {
    width: 100px;
    height: 700px;
}
.aside3 {
    max-width: 250px;
    max-height: 400px;
    overflow-y: scroll;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;
}
.traveler {
    width: 875px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-style: double;
    border-color: grey;
    border-width: 5px;
    background-color: #09090b;
}

.traveler img {
    max-width: 100%;
}
.status {
    width: 875px;
    height: 100px;
    padding-left: 250px;
    position: sticky;
    top: 0;
    background-color: black;
    border: double;
    border-color: grey;
    border-width: 5px;
}
.status-shelf {
    width: 1404px;
    height: 120px;
    position: sticky;
    top: 0;
    background-color: black;
    border: double;
    border-color: grey;
    border-width: 5px;
}
#shelf {
    padding-top: 20px;
    padding-left: 75px;
}
#blog {
    padding-top: 20px;
}
#zen {
    padding-top: 20px;
}
.travelerimg {
    z-index: 1;
    border: solid;
    border-color: grey;
    border-width: 5px;
    width: 875px;
    height: 100px;
    padding-left: 230px;
    position: sticky;
    top: 0;
    background-color: black;
}
#sf {
    width: 200px;
    padding-bottom: 50px;
}
.ethos {
    background-color: black;
    width: 875px;
    border: solid;
    border-color: grey;
    border-width: 5px;
    background-color: #09090b;
    font-size: 14px;

    p {
        margin: 40px;
        color: darkgoldenrod;
    }

    h4 {
        margin: 25px;
        color: darkred;
    }
}
.ethos img {
    padding-left: 50px;
}

.current1 {
    max-width: 250px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-style: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;
    ul li {
        padding: 5px;
        color: darkgoldenrod;
        margin: 20px;
        list-style: none;
    }
}

.current1 img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border: double;
    border-width: 5px;
    border-color: grey;
}

.current2 {
    max-width: 250px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;
    ul li {
        padding: 5px;
        color: darkgoldenrod;
        margin: 20px;
        list-style: none;
    }
}

.current2 img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border: double;
    border-width: 5px;
    border-color: grey;
}
.music {
    max-width: 250px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;

    h4 {
        color: darkgoldenrod;
    }

    h1 {
        color: darkgoldenrod;
    }
}

.music img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border: double;
    border-width: 5px;
    border-color: grey;
}

.friendbox {
    max-width: 250px;
    height: 215px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;
    text-align: center;
    font-size: 15px;

    ul li {
        padding: 5px;
        margin: 20px;
        list-style: none;
    }

    li a {
        color: green;
    }
}

.friendbox img {
    width: 240px;
    height: 100px;
    border: double;
    border-width: 5px;
    border-color: grey;
    padding-left: 5px;
}

.contact {
    max-width: 250px;
    height: 275px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;
    text-align: center;

    h4 {
        color: darkgoldenrod;
    }

    a {
        color: green;
    }
}

.contact img {
    width: 240px;
    height: 100px;
    border: double;
    border-width: 5px;
    border-color: grey;
    padding-left: 5px;
}

.guestbook {
    max-width: 250px;
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: double;
    border-width: 5px;
    border-color: grey;
    background-color: #09090b;

    h4 {
        color: darkgoldenrod;
    }

    h1 {
        color: darkgoldenrod;
    }
}

.guestbook img {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100px;
    border: double;
    border-width: 5px;
    border-color: grey;
}

footer {
    max-width: 1404px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
figure {
    position: relative;
    float: left;
    margin: 0;
}

figcaption {
    background-color: black;
    color: darkgoldenrod;
    max-width: 400px;
    font-size: 14px;
    display: block;
    float: left;
    position: absolute;
    top: 0;
}
