/* header styling */
header {
    margin-top: 100px;
    text-align: center;
    width: fit-content;
}
/* font */
@font-face {
    font-family: SourceCodePro-VariableFont_wght;
    src: url('SourceCodePro-VariableFont_wght') format("TrueType");
    font-style: normal;
}

/* body styling */
body {
    background-color: black;
    background-image:url('../images/squared-metal.png');
    background-repeat: repeat;
    z-index: 0;
}

/* h styling */
h6 {
    text-align: center;
    color: rgb(233, 199, 112);
}

h1 {
    text-align: center;
    color: rgb(233, 199, 112);
}

/* p styling */
p { 
    text-align: left;
    color: rgb(233, 199, 112);
}

/*img styling */
img {
    display: block;
    margin: 0 auto;
    width: 200% /* Optional: set a specific width */
}

/* ul styling */
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    color: rgb(233, 199, 112);
 }


/* centering webpage */

.home {
  font-family: SourceCodePro-VariableFont_wght;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 100%;
  margin-top: 150px;
}

 .audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
    background-color: black;
    padding: 5px;
    border-style: ridge;

    li {
        border-style: ridge;
        border-color: white;
        padding: 10px;
    }

    li a {
        color:silver;
    }
}

.navbar {
    background-color:black;
    border-style: ridge;
    padding: 10px;

    li a { 
     color:darkgoldenrod;
    }
}

